---
// Props for dynamic content
const { 
  title, 
  description, 
  projectDetails, 
  leftColumn, 
  rightColumn, 
  images 
} = Astro.props;
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout>
  <main class="flex-grow py-5">
    <div class="container">
      <!-- Title Section -->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <h1 class="mb-4">
            {title} <span class="d-block">{description}</span>
          </h1>
        </div>
      </div>

      <!-- Content Section -->
      <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
          <div class="row">
            {projectDetails.map((detail: { label: unknown; value: unknown; }) => (
              <div class="col-12 mb-4">
                <h6 class="text-uppercase mb-1">{detail.label}</h6>
                <p class="">{detail.value}</p>
                <hr class="mt-1 w-75" />
              </div>
            ))}
          </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6 text-start">
          {rightColumn.map((paragraph: unknown) => (
            <p class="">{paragraph}</p>
          ))}
        </div>
      </div>

      <!-- Image Section -->
      <div class="row mt-4 gy-4">
        {images.map((imageRow: { col: any; src: any; alt: any; class: any; }) => (
          <div class={`col-${imageRow.col} text-center`}>
            <Image src={imageRow.src} alt={imageRow.alt} class={imageRow.class || "mx-auto"} />
          </div>
        ))}
      </div>
    </div>
  </main>
</Layout>


<!-- <style>
    h1 {
        font-family: "Spectral", serif;
        font-weight: 700;
        color: #191246;
    }
</style> -->